<div class="admin-container">
    <h2>Angular Material Drag and Drop Demonstration </h2>
    <h4>(Multiple drag and drop instances via same function)</h4>
    <h5>Press add new element button to add new element. Paste an image url and a description in appropriate places. You
        can change the image and description positions by drag and dropping the corresponding boxes.</h5>
    <div *ngFor="let element of elements | keyvalue" cdkDropList cdkDropListOrientation="horizontal" class="drag-list"
        (cdkDropListDropped)="drop($event,element.key)">
        <div class="drag-box" *ngFor="let content of this.elements[element.key].contentArr" cdkDrag>
            <form class="drag-form" *ngIf="content=='img'">
                <mat-form-field class="drag-full-width">
                    <mat-label>Enter Image Url</mat-label>
                    <input [(ngModel)]="element.value.img_url" matInput placeholder="Ex. http//www.ddd.com/img.png"
                        [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </form>
            <form class="drag-form" *ngIf="content=='description'">
                <mat-form-field class="drag-full-width">
                    <mat-label>Enter Description</mat-label>
                    <input [(ngModel)]="element.value.description" [ngModelOptions]="{standalone: true}" matInput
                        placeholder="Ex. http//www.ddd.com/img.png">
                </mat-form-field>
            </form>

        </div>
    </div>
</div>
<div class="btn">
    <button mat-raised-button color="primary" (click)="addElement()">Add Element</button>
</div>

<div class="user-container">
    <div class="col-container" *ngFor="let element of elements | keyvalue">
        <ng-container *ngIf="element.value.img_order=='0'">
            <div class="col ">
                <img src="{{element.value.img_url}}" class="user-image fRight" alt="">
            </div>
            <div class="col ">
                <p>{{element.value.description}}</p>
            </div>
        </ng-container>
        <ng-container *ngIf="element.value.img_order=='1'">
            <div class="col ">
                <p class="fRight">{{element.value.description}}</p>
            </div>
            <div class="col ">
                <img src="{{element.value.img_url}}" class="user-image" alt="">
            </div>

        </ng-container>

    </div>

</div>
<p style="text-align: center; margin-bottom: 20px;">Coded by Isuru Lakruwan</p>